In [9]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from matplotlib import pyplot as plt
% matplotlib inline 
train = pd.read_csv("F://machine learning//Big Mart Sales//Big Mart Sales//train.csv")
test = pd.read_csv("F://machine learning//Big Mart Sales//Big Mart Sales//train.csv")

In [10]:
train.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [11]:
train.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_Identifier              8523 non-null object
Item_Weight                  7060 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  6113 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.1+ KB

In [17]:
train["Item_Type"]

0                       Dairy
1                 Soft Drinks
2                        Meat
3       Fruits and Vegetables
4                   Household
5                Baking Goods
6                 Snack Foods
7                 Snack Foods
8                Frozen Foods
9                Frozen Foods
10      Fruits and Vegetables
11                      Dairy
12      Fruits and Vegetables
13                Snack Foods
14      Fruits and Vegetables
15                  Breakfast
16         Health and Hygiene
17                  Breakfast
18                Hard Drinks
19                      Dairy
20                Snack Foods
21               Baking Goods
22                  Household
23               Baking Goods
24               Frozen Foods
25                  Household
26                Snack Foods
27                Hard Drinks
28                      Dairy
29                     Canned
                ...
8493              Snack Foods
8494                Household
8495              Snack Foods
8496                  Seafood
8497    Fruits and Vegetables
8498                Household
8499       Health and Hygiene
8500                Household
8501              Snack Foods
8502                Household
8503    Fruits and Vegetables
8504                Household
8505              Snack Foods
8506              Soft Drinks
8507             Frozen Foods
8508    Fruits and Vegetables
8509    Fruits and Vegetables
8510              Snack Foods
8511             Frozen Foods
8512                    Dairy
8513                     Meat
8514                   Canned
8515             Baking Goods
8516                   Others
8517             Frozen Foods
8518              Snack Foods
8519             Baking Goods
8520       Health and Hygiene
8521              Snack Foods
8522              Soft Drinks
Name: Item_Type, Length: 8523, dtype: object

In [18]:
categorical = train.dtypes[train.dtypes == "object"].index
print(categorical)

Index(['Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier',
       'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type'],
      dtype='object')

In [19]:
train["Item_Type"].describle()

AttributeError: 'Series' object has no attribute 'describle'

In [25]:
char_Outlet_Identifier = train["Outlet_Identifier"].astype(str)

new_Outlet_Identifier = np.array([Outlet_Identifier[0] for cabin in char_cabin])

new_Cabin = pd.Categorical(new_Cabin)

new_Cabin.describe()

ValueError: could not convert string to float: 'OUT046'