In [26]:
import numpy as np
import pandas as pd


my_series = pd.Series( data = [1,2,3,4],
                       index= ['a','b','c','d'])

my_series

a    1
b    2
c    3
d    4
dtype: int64

In [3]:
dict = {'x': 2,'y': 3,'z':4,'v':6}
series2 = pd.Series(dict)

series2

v    6
x    2
y    3
z    4
dtype: int64

In [4]:
series2[1:3]

x    2
y    3
dtype: int64

In [5]:
my_series['b']

2

In [6]:
my_series + series2

a   NaN
b   NaN
c   NaN
d   NaN
v   NaN
x   NaN
y   NaN
z   NaN
dtype: float64

In [8]:
series2.head

<bound method NDFrame.head of v    6
x    2
y    3
z    4
dtype: int64>

In [10]:
my_series.tail

<bound method NDFrame.tail of a    1
b    2
c    3
d    4
dtype: int64>

In [13]:
dic = { "Name" : ["VIpul","Saurabh","Rahul"],
         "Age" : [18,20,22],
      "weight" : [75,123,239],
     "heig ht" :[4.5, 5, 6.1],
    "siblings" : 1,
      "gender" : "M" }

df = pd.DataFrame(dic)
df

   Age     Name gender  heig ht  siblings  weight
0   18    VIpul      M      4.5         1      75
1   20  Saurabh      M      5.0         1     123
2   22    Rahul      M      6.1         1     239

In [14]:
df = pd.DataFrame(dic,
                   index = dic["name"] )

df

KeyError: 'name'

In [15]:
df.Name

0      VIpul
1    Saurabh
2      Rahul
Name: Name, dtype: object

In [16]:
df["IQ"]= [3, 4, 6]
df

   Age     Name gender  heig ht  siblings  weight  IQ
0   18    VIpul      M      4.5         1      75   3
1   20  Saurabh      M      5.0         1     123   4
2   22    Rahul      M      6.1         1     239   6

In [22]:
df.loc["Saurabh"]

KeyError: 'the label [Saurabh] is not in the [index]'

In [20]:
df.iloc[0]

Age            18
Name        VIpul
gender          M
heig ht       4.5
siblings        1
weight         75
IQ              3
Name: 0, dtype: object

In [21]:
df.loc["Vipul"]

KeyError: 'the label [Vipul] is not in the [index]'

In [28]:
from ggplot import mtcars

type(mtcars)

ModuleNotFoundError: No module named 'ggplot'